
obj/project.nuget.cache
obj/project.assets.json
obj/FD-DOS.csproj.nuget.g.targets
obj/FD-DOS.csproj.nuget.g.props
obj/FD-DOS.csproj.nuget.dgspec.json
obj/Debug/netcoreapp2.0/cosmos/FD-DOS.pdb
obj/Debug/netcoreapp2.0/cosmos/FD-DOS.dll
obj/Debug/netcoreapp2.0/cosmos/FD-DOS.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.0/cosmos/FD-DOS.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.0/cosmos/FD-DOS.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.0/cosmos/FD-DOS.assets.cache
obj/Debug/netcoreapp2.0/cosmos/FD-DOS.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.0/cosmos/FD-DOS.AssemblyInfo.cs
obj/Debug/netcoreapp2.0/cosmos/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
bin/Debug/netcoreapp2.0/cosmos/XSharp.Assembler.log
bin/Debug/netcoreapp2.0/cosmos/ISO/syslinux.cfg
bin/Debug/netcoreapp2.0/cosmos/ISO/mboot.c32
bin/Debug/netcoreapp2.0/cosmos/ISO/isolinux.bin
bin/Debug/netcoreapp2.0/cosmos/ISO/ldlinux.c32
bin/Debug/netcoreapp2.0/cosmos/ISO/libcom32.c32
bin/Debug/netcoreapp2.0/cosmos/FD-DOS.obj
bin/Debug/netcoreapp2.0/cosmos/FD-DOS.pdb
bin/Debug/netcoreapp2.0/cosmos/ISO/FD-DOS.bin
bin/Debug/netcoreapp2.0/cosmos/FD-DOS.log.html
bin/Debug/netcoreapp2.0/cosmos/FD-DOS.map
bin/Debug/netcoreapp2.0/cosmos/FD-DOS.asm
bin/Debug/netcoreapp2.0/cosmos/FD-DOS.bin
bin/Debug/netcoreapp2.0/cosmos/FD-DOS.cdb
bin/Debug/netcoreapp2.0/cosmos/FD-DOS.deps.json
bin/Debug/netcoreapp2.0/cosmos/FD-DOS.dll
bin/Debug/netcoreapp2.0/cosmos/FD-DOS.iso
